<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="row">
<div>
<div class="panel panel-default"></div>
<div class="panel-heading"></div>
<div>{{blogpost.title}}</div>
<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span>
<span><strong>On:</strong>{{blogPost.createdOn |date:'medium'}}</span>
</div>
<div>
<div class="panel-body"></div>
{{blogPost.body}}
</div>
</div>
<form>
<textarea ng-model="blogComent.body"></textarea>
<button ng-click="addBlogcomment()" class="btn btn-primary btn-block">Post Comment</button>

</form>
</body>
</html>